<header>
    <ul id="navigation">
        <!-- <p>Rahul Singh / <%= title %></p> -->
        <% if (locals.user) {%>
            <li style="padding: 14px 16px; float: left;" class="li">Rahul Singh</li>
            <li class="li">
                <a href="/users/sign-out">Sign Out</a>
            </li>
            <li style="padding: 14px 16px;" class="li"><%= user.name %></li>
            
            <% } else {%>
            <li class="li">
                <a href="/users/sign-in">Sign In</a>
            </li>
            <li class="li">
                <a href="/users/sign-up">Sign Up</a>
            </li>
            <%}%>

    </ul>
</header>