        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Rahul Singh / Profile Page
        </h1>

        <p>Name: <%= user.name %></p>
        <p>Name: <%= user.email %></p>